<div class="job-queue-indicator-container">
  <button
    mat-button
    class="queue-button"
    [class.idle]="isIdle()"
    [matMenuTriggerFor]="jobQueueMenu"
    [matTooltip]="tooltipText()"
    aria-label="View job queue">
    <span class="queue-count">{{ displayText() }}</span>
  </button>

  <mat-menu #jobQueueMenu="matMenu" class="job-queue-dropdown">
    <ng-template matMenuContent>
      <app-job-queue-panel
        [runningJobs]="runningJobs()"
        [recentJobs]="recentJobs()"
        [projectNameMap]="projectNameMap()"
        (jobClick)="onJobClick($event)">
      </app-job-queue-panel>
    </ng-template>
  </mat-menu>
</div>
