<div class="tab-bar">
  @for (tab of tabStateService.openTabs(); track tab.id) {
    @if (tab.type === 'project') {
      <button
        class="tab"
        [class.active]="tab.id === tabStateService.activeTab().id"
        (click)="tabStateService.setActiveTab(tab.id)"
        [matTooltip]="tab.name"
        [matTooltipDisabled]="tab.name.length <= 20"
        [matMenuTriggerFor]="projectMenu"
      >
        <span class="tab-name">{{ tab.name }}</span>
        <mat-icon class="menu-icon">more_vert</mat-icon>
      </button>

      <mat-menu #projectMenu="matMenu" class="project-menu">
        <button mat-menu-item (click)="onCloseTab($event, tab.id)">
          <mat-icon>close</mat-icon>
          <span>Close Tab</span>
        </button>
        <button mat-menu-item class="delete-item" (click)="onDeleteProject($event, getProjectById(tab.id)!)">
          <mat-icon>delete</mat-icon>
          <span>Delete Project</span>
        </button>
      </mat-menu>
    } @else {
      <button
        class="tab"
        [class.active]="tab.id === tabStateService.activeTab().id"
        (click)="tabStateService.setActiveTab(tab.id)"
      >
        <span class="tab-name">{{ tab.name }}</span>
      </button>
    }
  }

  <button
    class="tab-add"
    [matMenuTriggerFor]="projectMenu"
    mat-icon-button
    matTooltip="Open project"
    [matTooltipDisabled]="unopenedProjects().length === 0"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-menu #projectMenu="matMenu" class="project-menu">
  @for (project of unopenedProjects(); track project.project_id) {
    <button mat-menu-item (click)="tabStateService.addTab(project)">
      {{ project.name }}
    </button>
  } @empty {
    <button mat-menu-item disabled>
      <span class="empty-message">All projects are open</span>
    </button>
  }
</mat-menu>
