<div class="tab-bar">
  @for (tab of tabStateService.openTabs(); track tab.id) {
    @if (tab.type === 'project') {
      <button
        class="tab"
        [class.active]="tab.id === tabStateService.activeTab().id"
        (click)="tabStateService.setActiveTab(tab.id)"
        [matTooltip]="tab.name"
        [matTooltipDisabled]="tab.name.length <= 20"
      >
        <span class="tab-name">{{ tab.name }}</span>
        <span
          class="close-btn"
          role="button"
          tabindex="0"
          (click)="onCloseTab($event, tab.id)"
          (keydown.enter)="onCloseTab($event, tab.id)"
          (keydown.space)="onCloseTab($event, tab.id)"
          [attr.aria-label]="'Close ' + tab.name"
        >
          <mat-icon>close</mat-icon>
        </span>
      </button>
    } @else {
      <button
        class="tab"
        [class.active]="tab.id === tabStateService.activeTab().id"
        (click)="tabStateService.setActiveTab(tab.id)"
      >
        <span class="tab-name">{{ tab.name }}</span>
      </button>
    }
  }

  @if (hasRealProject) {
    <a
      class="tab workspace-tab"
      mat-button
      [routerLink]="['/projects', projectId, 'workspace']"
      routerLinkActive="active"
    >
      <mat-icon>folder_open</mat-icon>
      <span class="tab-name">Workspace</span>
    </a>
  }

  <button
    class="tab-add"
    [matMenuTriggerFor]="projectMenu"
    mat-icon-button
    matTooltip="Open project"
    [matTooltipDisabled]="unopenedProjects().length === 0"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-menu #projectMenu="matMenu" class="project-menu">
  @for (project of unopenedProjects(); track project.project_id) {
    <button mat-menu-item (click)="tabStateService.addTab(project)">
      {{ project.name }}
    </button>
  } @empty {
    <button mat-menu-item disabled>
      <span class="empty-message">All projects are open</span>
    </button>
  }
</mat-menu>
